<table>
    <thead>
        <tr>
            <th>Room Name</th>
            <th>Number of rooms available</th>
            <th>Theme of the room</th>
            <th>Price of the room</th>
            <th>Room disponibility</th>
            <th>rating</th>
            <th>
                Select a room to book
            </th>
        </tr>
    </thead>
    <tbody>
        <!--  *ngFor  simple for loop -->
        <!-- * <tr *ngFor="let room of roomList | slice: 0:2"  the slice is a pipe would get the element from x to y -->
        <tr *ngFor="let element of rooms | slice: 0:3" [ngClass]="{'theme-1': element.themes === 'Space', 'theme-2':
            element.themes === 'Forest', 'theme-3': element.themes === 'Underground' }">
            <td>{{ element.roomName }}</td>
            <td>{{ element.available }}</td>
            <td>{{ element.themes | uppercase }}</td>
            <td>{{ element.price | currency: 'EUR' :'symbol' }}</td>
            <td> available after the {{ element.checkOutTime | date:'dd MMM yyyy' }}</td>
            <td> {{ element.rating | number: '1.2-2' }}</td>
            <td>
                <button (click)="selectRoom(element)" class="btn btn-primary">
                    Select
                </button>
            </td>
        </tr>
    </tbody>
</table>