<div class="body">

    <h1>Welcome to {{ hotelName }}</h1>

    <div *ngIf="roomsDisponibility.availableRooms > 1" class="RoomList">
        <!--  *ngIf  simple for loop -->
        <!-- ! Completly hide the element -->
        <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
    </div>
    <div [hidden]="hideAvailableRooms" class="AvailableRooms">
        <!--! mask the element but it's still accessible from the DOM -->
        <div *ngIf="roomsDisponibility.availableRooms > 1; else noRoomsAvailable" [ngStyle]="{'color': 'green'}">
            There are {{ roomsDisponibility.availableRooms }} available rooms in the
            hotel
        </div>
        <ng-template #noRoomsAvailable>
            <div [ngStyle]="{'color': 'red'}">
                There are no available rooms in the hotel
            </div>
        </ng-template>
    </div>
    <button (click)="toggle()">
        {{ hideAvailableRooms ? "Show rooms" : "Hide rooms"}}
    </button>
    <div>
        <button (click)="addRoom()">
            Add a room
        </button>
    </div>
</div>